cov-core==1.15.0
coverage==3.7.1
Flask==0.10.1
itsdangerous==0.24
Jinja2==2.8
jsonify==0.5
MarkupSafe==0.23
mongokat==0.1.4
py==1.4.31
pymongo==3.0.2
pytest==2.7.0
pytest-circleci==0.0.2
pytest-cov==1.8.1
pytest-html==1.0
Werkzeug==0.11.9
