<!doctype html>
<title>bkmkr</title>
<body>

  <div>
    <a href="/unread"> Unread Links </a>
    <span> | </span>
    <a href="/"> All Links </a>
    <input id="search" name="search">
    <button for="search" id="searchbutton">Search</button>
  </div>
  <div class="listing">

    <ul>
    {% for link in links %}
    <li class="readstatus_{{ link['readStatus'] }}">
      <button class="readtoggle" id="{{link['_id']}}">
	Mark {% if link['readStatus'] %} Unread	{% else %} Read	{% endif %}
      </button>
      <a href="{{ link['link'] }}">  {{ link['title'] }} </a>
    </li>
    {% endfor %}      
  </div>

  <script src="static/index.js"></script>
  
</body>
