/* CSS declarations go here */

input.cell {
    width:10px;
    border-radius:0px;
    padding:1;
    margin:0;
    border:0;
}

input.neutral {
    background: #cacaaa;
}

input.incorrect {
    background: #dcaaaa;
}

input.correct {
    background: #aadcaa;
}

td {
    padding:0;
    border:0;
    margin:0;
}

.problem {
    margin-top: 80px;
    margin-bottom: 80px;
}